body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.table_list {
    width: 60%;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
}

#myChart {
    width: auto;
    max-width: 80vw;
    min-height: 550px;
    max-height: 550px;
}

#pdf {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.form-select {
    width: 80px !important;
}

.desc {
    display: flex;
    gap: 100px;
}

.graph {
    display: flex;
    justify-content: center;
    width: 100%;
}

.table {
    width: 700px !important;
}

.forms {
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.forms__input {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="date"]{
    background-color: #fff;
    padding: 15px;
    font-family: "Roboto Mono",monospace;
    color: #000;
    font-size: 18px;
    border: 1px solid #000;
    outline: none;
    border-radius: 5px;
    height: 38px;
    margin: 0;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.result {
    margin-top: 30px;
}

.result h4 {
    text-align: center;
}

.date_r {
    display: flex;
    gap: 20px;
}

.sum {
    display: flex;
    gap: 20px;
}

.matrix {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.matrix div {
    display: flex;
}

.matrix p {
    width: 40px;
}




@media screen and (max-width: 1000px) {
    .table_list {
        width: 80%;
        flex-direction: column;
    }

    .forms {
        height: auto;
    }

    .graph {
        overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap;
    }

    #myChart {
        width: 1247px;
        min-width: 1247px;
        margin-left: 900px;
    }
}

@media screen and (max-width: 800px) {
    .desc {
        flex-direction: column;
        align-items: center;
        overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap;
    width: 100vw;
    }

    .table {
        margin-left: 400px;
    }

    .forms__input {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        flex-direction: column;
    }

    h1 {
        text-align: center;
    }
    
}

